# Ignore data and results
/data/
/results/
/reports/

# Ignore Docker artifacts
/docker/*.img
/docker/*.tar

# Ignore Nextflow work directory
/work/

# Ignore system files
.DS_Store
*.swp

# Ignore Python/R cache
__pycache__/
*.pyc
.Rhistory
.RData

# Ignore logs
*.log 