process {
  withName:Kraken2 {
    container = 'biocontainers/kraken2:v2.1.2_cv1'
  }
  withName:MultiQC {
    container = 'ewels/multiqc:1.14'
  }
  executor = 'local'
  withLabel:docker {
    container = true
  }
}

docker {
  enabled = true
}

params {
  data_dir = '../data'
  results_dir = '../results'
  reports_dir = '../reports'
}

workDir = './work' 