process {
  withName:Kraken2 {
    container = 'public.ecr.aws/biocontainers/kraken2:2.1.5--pl5321h077b44d_0'
  }
  withName:MultiQC {
    container = 'ewels/multiqc:1.14'
  }
  executor = 'local'
  withLabel:docker {
    container = true
  }
}

docker {
  enabled = true
}

params {
  data_dir = '../data'
  results_dir = '../results'
  reports_dir = '../reports'
}

workDir = './work' 